{
    "dev": {
        "PORT": 8080,
        "TOKEN_SECRET": "",
        "USER_JWT_EXPIRATION_TIME": "24h",
        "COMPANY_JWT_EXPIRATION_TIME": "24h",
        "PASSWORD_POLICY_MIN_LENGTH": 7,
        "PASSWORD_POLICY_MIN_LOWER_CASE": 1, 
        "PASSWORD_POLICY_MIN_UPPER_CASE": 1,
        "PASSWORD_POLICY_MIN_NUMBERS": 1,
        "PASSWORD_POLICY_MIN_SYMBOLS": 1,
        "SIGNALWIRE_API_KEY": "",
        "SIGNALWIRE_PROJECT_ID": "",
        "SIGNALWIRE_SPACE": "",
        "MONGODB_STRING": "mongodb://127.0.0.1:27017/sms",
        "MAILER_SMTP_SERVER": "",
        "MAILER_SMTP_PORT": 465,
        "MAILER_USER_NAME": "",
        "MAILER_PASSWORD": ""
    },
    "test": {
        "TEST": true
    }
}